@page "{id:int}"
@model MeetingPlanner.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Meeting Details</h2>

<div>
    @*<h4>Meeting</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Choirister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Choirister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Organist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Organist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Presiding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Presiding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Bishopric.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Bishopric.name)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Announcements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Announcements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.OpenHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.OpenHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Invocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Invocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.WardBusiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.WardBusiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.StakeBusiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.StakeBusiness)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.SacHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.SacHymn)
        </dd>
        <dt>
            Sacrament
        </dt>
        <dd>
            Priesthood
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.IntHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.IntHymn)
        </dd>
        <dt>
            Speakers
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Speaker</th>
                    <th>Topic</th>

                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkName1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkSubj1)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkName2)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkSubj2)
                    </td>

                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkName3)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkSubj3)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkName4)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkSubj4)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkName5)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Meeting.TalkSubj5)
                    </td>

                </tr>

            </table>
        </dd>
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.CloseHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.CloseHymn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Benediction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Benediction)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.MeetingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
