@page "{id:int}"
@model MeetingPlanner.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Choirister)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Choirister)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Organist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Organist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Invocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Invocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Presiding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Presiding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Conducting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Conducting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Announcements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Announcements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.WardBusiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.WardBusiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.StakeBusiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.StakeBusiness)
        </dd>

    
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Testimonies)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Meeting.Testimonies.Description)
                    </td>
                </tr>
                        
            </table>
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Talks)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Speaker</th>
                    <th>Topic</th>
                    <th>Assigned</th>
                    <th>Accepted</th>
                </tr>
                @foreach (var item in Model.Meeting.Talks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assigned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Accepted)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MusicalNumbers)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Hymn Number</th>
                    <th>Title</th>
                    <th>Performers</th>
                    <th>Accompaniement</th>
                </tr>
                @foreach (var item in Model.Meeting.MusicalNumbers)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HymnNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Performers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accompaniement)
                    </td>
                </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Benediction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Benediction)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.MeetingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
