@page
@model MeetingPlanner.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Sacrament Meetings</h2>

<p>
    <a asp-page="Create">Add a New Meeting</a>
</p>
<hr />
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by contents:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].Date)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PresidingSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].Presiding)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ConductingSort">
                    @Html.DisplayNameFor(model => model.Meeting[0].Conducting)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Announcements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].WardBusiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].StakeBusiness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meeting)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presiding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducting)
                    
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Announcements)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WardBusiness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StakeBusiness)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MeetingID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MeetingID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MeetingID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
