@page
@model MeetingPlanner.Pages.BishopricMembers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Members who may conduct Sacrament Meetings</h2>

<p>
    <a asp-page="Create">Add New Member</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or position:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Bishopric[0].name)
                </a>
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PositionSort">
                    @Html.DisplayNameFor(model => model.Bishopric[0].position)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bishopric) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BishopricID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BishopricID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BishopricID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
